@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  background: #000;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

